body{
    width: 1200px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.alfinal{
    display: flex;
    background-color: rgb(16, 16, 90);
    justify-content: left;
}
.alfinal__info{
    text-align: justify;
    width: 40%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: smaller;
    color: rgb(255, 255, 255);
    text-align: justify;
}
.alfinal__contacto{
    font-size: smaller;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    
}
.alfinal__miembros{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    
}
.alfinal__gmail{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
