.servicios{
    background-color: rgb(194, 218, 241);
    text-align: center;
    margin-bottom: 10px;
}
.servicios__informacion{
    
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.servicios__tipo{
    background-color: rgb(255, 255, 255);
    border-top-style: hidden;
    width: 350px;
    
}
.servicios__imagen{
    padding: 0px;
}
.informacion{
    text-align: justify;
    padding-left: 25px;
    padding-right: 25px;
}
